---
version: 2
jobs:
  build:
    docker:
      - image: node:9
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-yarn-{{ .Branch }}-{{checksum "yarn.lock"}}
            - v1-yarn-{{ .Branch }}
            - v1-yarn-master
      - run: yarn
      - run: yarn test
      - run: curl -s https://codecov.io/bash | bash
      - save_cache:
          key: v1-yarn-{{ .Branch }}-{{checksum "yarn.lock"}}
          paths:
            - ~/cli-engine-config/node_modules
            - /usr/local/share/.cache/yarn
